body {
  background-color: #c3cfe2;
  margin: 0px;
  padding: 0px;
}

/*Part 1 - Testimonial*/
.testimonial_container {
  width: 500px;
}

.tesimonial-card {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 12px;
  margin: 60px;
  position: relative;
  text-align: center;
  -webkit-box-shadow: gray;
          box-shadow: gray;
}

.tesimonial-card p {
  color: #556666;
  font-size: 18px;
  margin: 20px 20px 70px 20px;
  padding: 20px;
  line-height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tesimonial-card .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: solid 5px white;
}

.tesimonial-card .testimonial-footer {
  background-color: #686de0;
  border-radius: 0px 0px 12px 12px;
}

.tesimonial-card .testimonial-footer h2 {
  padding-top: 80px;
  color: white;
  font-weight: 2px;
}

.tesimonial-card .testimonial-footer #domain {
  color: lightpink;
  font-size: 16px;
  padding-top: 0px;
}

/*Part 2 - Portfolio Grid*/
.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30% 30% 30%;
      grid-template-columns: 30% 30% 30%;
  -ms-grid-rows: 25% 25% 25%;
      grid-template-rows: 25% 25% 25%;
  grid-gap: 30px;
  margin: 60px;
}

.item {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.item img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  position: relative;
}

.item .image {
  opacity: 1;
  display: block;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
}

.hoverbutton {
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(0%, -400%);
          transform: translate(0%, -400%);
  text-align: center;
}

.hoverbutton .myhoverbutton {
  background-color: #449e44;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
}

.item:hover .image {
  opacity: 0.4;
}

.item:hover .hoverbutton {
  opacity: 1;
}

@media only screen and (max-width: 1028px) {
  .grid-container {
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 600px) {
  .grid-container {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: (350px)[6];
        grid-template-rows: repeat(6, 350px);
  }
}

/*Part 3 - Portfolio Grid*/
.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  margin-bottom: 50px;
  color: white;
}

.hover-text {
  display: none;
}

.blog {
  background-color: #e17b77;
  font-size: 26px;
  width: 65px;
  height: 45px;
  position: relative;
  padding-top: 15px;
  text-align: center;
}

.facebook {
  background-color: #3b5998;
  font-size: 26px;
  width: 65px;
  height: 45px;
  position: relative;
  padding-top: 15px;
  text-align: center;
}

.twitter {
  background-color: #00aced;
  font-size: 26px;
  width: 65px;
  height: 45px;
  position: relative;
  padding-top: 15px;
  text-align: center;
}

.github {
  background-color: #333;
  font-size: 26px;
  width: 65px;
  height: 45px;
  position: relative;
  padding-top: 15px;
  text-align: center;
}

.linkedin {
  background-color: #007bb6;
  font-size: 26px;
  width: 65px;
  height: 45px;
  position: relative;
  padding-top: 15px;
  text-align: center;
}

.blog:hover,
.facebook:hover,
.twitter:hover,
.github:hover,
.linkedin:hover {
  width: 250px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.blog:hover .hover-text,
.facebook:hover .hover-text,
.twitter:hover .hover-text,
.github:hover .hover-text,
.linkedin:hover .hover-text {
  display: inline;
  font-size: 18px;
  text-decoration: underline;
  margin-left: 25px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/*# sourceMappingURL=style.css.map */